/* Colors */
$background-color: #212121;
$header-color: #FFFFFF;
$controls-hover-color: #757575;
$shadow-color: black;
$tab-color: #BDBDBD;
$container-color: #FAFAFA;
$badge-color: #2979FF;
$badge-text-color: #FFFFFF;
$muted-text-color: #616161;
$text-color: #212121;
$floating-button-color: #E53935;
$selected-text-color: rgba(#82B1FF, 0.5);
$border-color: #212121;
$filter-color: #E0E0E0;
$filter-text-color: #000000;

/* Notifications */
$success-color: #4CAF50;
$warning-color: #FF6D00;
$info-color: #7E57C2;
$error-color: #F44336;
$notification-text-color: #FFFFFF;
