/* Window rules */

/* Remove all margins */
body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    width: 0px;
}

/* Selection color */
::selection {
  background: $selected-text-color;
}
